SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_NAME=your-db-name
DB_SSLMODE=disable
DB_TIMEZONE=UTC

JWT_SECRET=your-jwt-secret
JWT_EXPIRE_HOURS=24

FRONTEND_URL=http://localhost:3000
